@model SchoolManagementSystem.Models.tbl_Student

@{
    ViewBag.Title = "Delete Student";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h4>Delete Student</h4>

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

<h5>Confirm Delete?</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" id="btnCancel" value="Cancel" class="btn btn-info" onclick="location.href='@Url.Action("Students","Admin")'" />
    </div>
}

